*{
    margin:0% ;
    box-sizing: border-box;
}

main{
   background-color: red;
}

.container-fluid{
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    background-image:url("images/pattern-background-desktop.svg"),linear-gradient(hsl(227, 92%, 95%),hsl(229, 100%, 96%));
    background-repeat: no-repeat;
}

.orderCard{
    overflow: hidden;
    flex-direction: column;
}

article{
    flex-direction: column;
}

.row1{
    flex-direction: row;
    justify-content: center ;
    position: relative;
    background-color: hsl(225, 100%, 98%);
}

.row1 img{
    left: 20px;
    position: absolute;
}

.row1 section{
    margin-left: -3rem;
}

.row1 p{
    right: 20px;
    position: absolute;
}

button{
    border: none;
    color: white;
    box-shadow: 0px 5px 15px hsl(229, 79%, 82%),0px 5px 10px hsl(229, 79%, 82%);
}