*{
    margin:0% ;
    box-sizing: border-box;
}

body{
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
}

.container-fluid{
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: scroll;
}

.orderCard{
    overflow: hidden;
}